apiVersion: karpenter.k8s.aws/v1
kind: EC2NodeClass
metadata:
  name: ${name}
spec:
  role: ${iam_role}
  detailedMonitoring: true
  amiSelectorTerms:
    - alias: ${ami_alias}
  # kubelet 参数
  kubelet:
    imageGCLowThresholdPercent: 60
    imageGCHighThresholdPercent: 70
  # node 子网ID
  subnetSelectorTerms: ${node_subnet_id_map}
  # node 安全组
  securityGroupSelectorTerms: ${node_sg_id_map}
  # 添加到节点上的tags
  tags: ${tags}
  metadataOptions:
    httpEndpoint: enabled
    httpProtocolIPv6: disabled
    httpPutResponseHopLimit: 2
    httpTokens: required
  blockDeviceMappings:
    - deviceName: /dev/xvda
      ebs:
        volumeSize: 100Gi
        volumeType: gp3
        iops: 3000
        encrypted: true
        throughput: 150
        deleteOnTermination: true
  userData: |
    #!/bin/bash
    mkdir -p ~ec2-user/.ssh/
    touch ~ec2-user/.ssh/authorized_keys
    cat >> ~ec2-user/.ssh/authorized_keys <<EOF
    ${ssh_public_key}
    EOF
    chmod -R go-w ~ec2-user/.ssh/authorized_keys
    chown -R ec2-user ~ec2-user/.ssh